.promo-slider{

  @media (min-width: @screen-sm){
    margin-bottom: 24px;
  }

  @media (min-width: @screen-sm){
    margin-bottom: 18px;
  }

  &__inner{
    .container;
  }

  &__item{
    display: none;
    width: 100%;
    min-height: 500px;
    padding-top: 20px;

    @media (min-width: @screen-sm) {
      padding: 20px;
    }

    @media (min-width: @screen-lg) {
      min-height: 430px;
      padding-top: 90px;
    }

    &--active{
      display: block;
    }

    &--family {
      background: url('../img/promo-gallery--family-xs.jpg') no-repeat;
      background-size: cover;

      @media (min-width: @screen-sm) {
        background: url('../img/promo-gallery--family-sm.jpg') no-repeat;
        background-size: cover;
      }
    }

    &--company {
      background: url('../img/promo-gallery--company.jpg') no-repeat;
      background-size: cover;
    }
  }

  &__slogan{
    display: block;
    width: 100%;
    font-weight: build;
    margin-bottom: 0px;
    padding: 10px 7px;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    opacity: 0.9;

    @media (min-width: @screen-sm){
      text-align: left;
      margin-bottom: 24px;
    }

    @media (min-width: @screen-lg){
      width: 50%;
    }
  }


  &__title{
    display: block;
    width: 100%;

    font-weight: lighter;

    padding: 12px 4px;
    margin-top: 0;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    opacity: 0.9;

    @media (min-width: @screen-sm){
      text-align: left;

    }

    @media (min-width: @screen-lg){
       width: 50%;
    }
  }

}
