.promo-slider{

  position: relative;

  &__container {
    position: relative;
    .container;
  }

  &__item{
    width: 100%;
    min-height: 500px;
    padding-top: 48px;

    @media (min-width: @screen-md) {
      padding-top: 63px;
    }

    &--chiken {
      background-color: #ecdfd3;
      background-image: url('../img/promo--1.png');
      background-repeat: no-repeat;
      background-position: 50%;

      @media (min-width: @screen-md) {
        background-position: right 40px top 50px;
      }

      @media (min-width: @screen-lg) {
        background-position: right 160px top 50px;
      }
    }

    &--japan {
      background: url('../img/promo--2.jpg') no-repeat;
      background-size: cover;
      background-position: right 0;
    }
  }

  &__data {
    display: block;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 400;

    @media (min-width: @screen-md){
      margin-bottom: 80px;
      font-size: 20px;
    }
  }


  &__title {
    display: block;
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 44px;
    font-weight: bold;
    text-align: left;

    @media (min-width: @screen-md){
      max-width: 365px;
      margin-bottom: 95px;
    }

    @media (min-width: @screen-lg){
      max-width: 380px;
    }
  }

  &__price {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -30px;
    right: 32px;
    padding-top: 50px;
    padding-left: 28px;
    padding-right: 35px;
    background-color: #52d05d;
    border-radius: 50%;

    @media (min-width: @screen-md) {
      right: 30px;
    }

    @media (min-width: @screen-lg) {
      right: 60px;
    }

    &--new {
      margin: 0;
      font-size: 48px;
      font-weight: bold;
      color: @white;
    }

    &--old {
      position: relative;
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      color: #0e7b2f;

      &:after {
        content: '';
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 70px;
        height: 2px;
        background-color: @white;
        transform: rotate(-20deg);
      }
    }

    &--sale {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      color: @white;
      text-align: right;
    }
  }

  &__description {
    display: block;
    max-width: 440px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;

    @media (min-width: @screen-md){
      max-width: 500px;
    }
  }
}
